body {
    background-color: black;
}

#lightBulb {
    margin: 5vh;
    height: 70vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btnOnOff {
    margin: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}